@model TinderForPets.Models.Dog.DogDetail

@{
    ViewBag.Title = "UserDetail";
}

<h2>Details</h2>

<div class="dogphoto">
    <img src="~/Content/Assets/IMG_5973.png" />
    <h4>More Details about this Pet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PetId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Breed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Breed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HairType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HairType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShelterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShelterId)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    @Html.ActionLink("Back to List", "User")
</p>
